---
import Card from "./ui/Card.astro";
import Heading from "./ui/Heading.astro";
import Button from "./ui/Button.astro";
import { CardBody, Icon } from "$ui";
import { ICONS } from "../lib/design-system/icons";

interface Props {
  title: string;
  description: string;
  actionText: string;
  actionUrl: string;
}

const { title, description, actionText, actionUrl } = Astro.props;
---

<Card>
  <CardBody>
      <Heading size="3xl" class="mb-4">
        {title}
      </Heading>
      <p class="text-secondary mb-6 max-w-2xl">
        {description}
      </p>
      <Button variant="primary" size="lg" href={actionUrl}>
        {actionText}
        <Icon icon="NAVIGATE_FORWARD" class="ml-2" />
      </Button>
  </CardBody>
</Card>
